@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body, html {
    min-width: 700px;
    overflow-x: hidden;
} */

:root {
    --background-1: 0 0 0;
    --background-2: 23 23 23;
    --background-3: 64 64 64;
    /* --foreground-1: rgb(157, 226, 176);
    --foreground-2: rgb(103, 163, 120); */
    --foreground-1: 226 157 157;
    --foreground-2: 163 103 103;

}

@media screen and (max-width: 768px) {
    :root {
        user-select: none;
    }
}


body,
html {
    color: rgb(200, 200, 200);
    background: rgb(var(--background-1));
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    /* For vertical slider*/
    height: 10px;
    /* For horizontal slider*/
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}