

#current-time-slider[mouseOver]::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    /* background-color: rgb(150 150 150); */
    height: 8px;
    width: 8px;

    /* border-radius: 100%; */
}

#current-time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(150 150 150);
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
}